:root {
  --background-color-values: 40, 40, 45;
  --background-color: rgb(var(--background-color-values));
  --background-gradient-values: transparent,
    rgba(var(--background-color-values), 0.8), var(--background-color);
  --border-radius: 0.75em;
  --box-shadow: #0009 0 0 0.5em;
  --indent: 1em;
  --root-background-color: #19191e;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: var(--root-background-color);
}

* {
  box-sizing: border-box;
}

#root {
  color: #c8c8be;
  font-family: sans-serif;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  gap: 1em;
  margin-bottom: 1em;
}

.menu {
  flex: 1;
}

.hidden,
.hiddable {
  transition: 0.5s;
}

.word-count.hidden {
  height: 0;
  overflow: hidden;
}

.history-container::after,
.history-container::before {
  content: "";
  position: absolute;
  z-index: 2;
}

@media (max-width: 120vh) {
  /* portrait */
  nav.hidden {
    margin-top: -3em;
  }

  .menu.hidden {
    margin-top: -5em;
  }

  .main,
  .history {
    flex-direction: column;
  }

  .main {
    max-height: calc(100vh - 6em);
    transition: 0.5s;
  }

  :has(.menu.hidden) ~ .main {
    max-height: calc(100vh - 5em);
  }

  :has(.menu.hidden).hidden ~ .main {
    max-height: calc(100vh - 2em);
  }

  .history-container::after,
  .history-container::before {
    height: 1em;
    width: 100%;
  }

  .history-container::after {
    background: linear-gradient(
      to bottom,
      transparent,
      var(--root-background-color)
    );
    bottom: 0;
  }

  .history-container::before {
    background: linear-gradient(
      to top,
      transparent,
      var(--root-background-color)
    );
  }

  .history {
    max-height: 100%;
  }

  .history-container {
    max-height: calc(100vh - 12em);
  }

  .history-container.hidden {
    max-height: 0;
    overflow: hidden;
  }
}

@media (min-width: 120vh) {
  /* landscape */
  nav {
    flex-direction: column;
  }

  #root {
    flex-direction: row;
  }

  nav.hidden {
    margin-left: -3em;
  }

  .menu.hidden {
    margin-left: -13em;
  }

  .history-container::after,
  .history-container::before {
    width: 1em;
    height: 100%;
  }

  .history-container::after {
    background: linear-gradient(
      to right,
      transparent,
      var(--root-background-color)
    );
    right: 0;
    top: 0;
  }

  .history-container::before {
    background: linear-gradient(
      to left,
      transparent,
      var(--root-background-color)
    );
  }

  .history-item {
    max-width: 15em;
  }
}

.word-count {
  color: #808080;
}

.word-count.overflow {
  color: #9d3939;
}

.main .button.hidden,
.loader.hidden {
  visibility: hidden;
  width: 0;
}

.input,
.display {
  min-height: 3.5em;
  word-break: break-all;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1em;
  padding: 1em;
  position: relative;
}

.text-container {
  max-height: calc(100% - 3em);
}

.text-container * {
  max-height: 100%;
}

.text-container > .background::after,
.text-container > .background::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1em;
  width: 100%;
  z-index: 1;
}

.text-container {
  gap: 0.2em;
  display: flex;
  flex-direction: column;
}

.text-container > .background::after {
  bottom: calc(2em - 3px);
  background: linear-gradient(to bottom, var(--background-gradient-values));
}

.text-container > .background::before {
  top: calc(2em - 3px);
  background: linear-gradient(to top, var(--background-gradient-values));
}

.text-container > .background {
  display: flex;
  padding: 2em 4em;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

.mode {
  height: 2em;
  margin-top: 1em;
}

.mode.hidden {
  height: 0;
  opacity: 0;
  margin-top: 0;
}

.display {
  cursor: default;
}

.input {
  outline: 0 solid transparent;
}

.unit-text {
  text-align: center;
}

.tooltip-container {
  position: relative;
}

.tooltip > * {
  text-wrap: nowrap;
}

.show-tooltip > .unit-text {
  border-radius: 0.25em;
  background-color: #fff3;
}

.display > span {
  white-space: pre-wrap;
}

.unit:hover {
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2px;
  min-width: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  opacity: 0;
  min-height: 5em;
}

.unit .tooltip {
  bottom: 125%;
}

.show-tooltip > .tooltip {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

@media (hover: hover) and (pointer: fine) {
  :not(.unit):hover > .tooltip {
    transition-delay: 1s;
  }

  :hover > .tooltip {
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
  }

  .button:hover {
    scale: 1.1;
  }

  .button:active {
    filter: brightness(110%);
  }

  .main ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff40;
    cursor: grab;
  }

  .unit:hover > .unit-text {
    border-radius: 0.25em;
    background-color: #fff3;
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border-top: 10px solid var(--background-color);
  margin-top: -3px;
  padding-bottom: 10px;
  filter: drop-shadow(#00000566 0 4px 5px);
  z-index: 1;
}

.tooltip img {
  border-radius: 1em;
  width: 6em;
}

.background {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--indent);
}

.button {
  width: 2em;
  height: 2em;
  cursor: pointer;
  opacity: 70%;
}

.button:active,
.unit:active {
  filter: brightness(120%);
}

.button,
.button:hover,
.button:active {
  transition: 0.3s;
}

select {
  border-radius: 0.5em;
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 0.1em;
  cursor: pointer;
}

.select-item {
  background-color: gray;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.text-container ::-webkit-scrollbar {
  width: 2em;
}

.text-container ::-webkit-scrollbar-thumb {
  background-color: #ffffff1a;
  border: 0.75em solid transparent;
  border-radius: 1em;
  background-clip: padding-box;
}

.text-container ::-webkit-scrollbar-thumb:active {
  background-color: #ffffff80;
  cursor: grabbing;
}

.text-container ::-webkit-scrollbar-track-piece {
  margin: 0.2em;
}

.blur :not(.loader) {
  filter: blur(0.1em);
}

.loader {
  position: absolute;
  width: 3em;
  aspect-ratio: 1;
  margin-bottom: 50%;
  left: calc(50% - 1.5em);
  animation: loader-animation 2s infinite ease-in-out;
  z-index: 1;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.input:empty::before {
  content: "Type japanese text here";
  color: #ffffff80;
  cursor: text;
}

.hiragana {
  color: #ff9696;
}

.katakana {
  color: #9696ff;
}

.kanji {
  color: #96ff96;
}

.interjection {
  color: #e175ff;
}

.conjunction {
  color: #afaf71;
}

.preposition {
  color: #3bffb4;
}

.particle {
  color: #6e742e;
}

.auxiliary.verb {
  color: #467246;
}

.verb {
  color: #6ab0c9;
}

.adverb {
  color: #9582c4;
}

.adjective {
  color: #cc8299;
}

.noun {
  color: #fcac5d;
}

.pronoun {
  color: #fff23d;
}

.history {
  display: flex;
  gap: 0.5em;
  overflow: scroll;
  font-size: 0.7em;
}

.history-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-container {
  position: relative;
}

.history-item .button {
  width: 1em;
  height: 1em;
}

.history-item-bottom {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  text-wrap: nowrap;
}

.history-date {
  color: gray;
}

.history-text,
.history-text * {
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  white-space: pre-wrap;
  height: 4.5em;
}
.history-item * {
  position: relative;
}

.history-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, var(--background-gradient-values));
}
