:root {
  --background-color-values: 40, 40, 45;
  --background-color: rgb(var(--background-color-values));
  --background-gradient-values: transparent,
    rgba(var(--background-color-values), 0.8), var(--background-color);
  --border-radius: 2em;
  --box-shadow: #0009 0 0 0.5em;
  --indent: 2em;
  --root-background-color: #19191e;
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: var(--root-background-color);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  color: #c8c8be;
  font-family: sans-serif;
  padding: 1em;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  gap: 1em;
  padding-top: 1em;
  justify-content: space-evenly;
  width: 100%;
}

.hidden,
.hiddable {
  transition: 0.5s;
}

.hidden {
  opacity: 0;
}

.word-count.hidden {
  height: 0;
  overflow: hidden;
}

.history-container::after,
.history-container::before {
  content: "";
  position: absolute;
  z-index: 2;
}

.text {
  flex-grow: 1;
  min-width: 21em;
}

.text-container {
  flex-direction: column;
}

.history-text {
  max-width: calc(100vw - 5em);
}

.history {
  padding-top: 1em;
  padding-bottom: 1em;
}

.history-container {
  padding-top: 1em;
  margin-bottom: 1em;
}

.history-container::after,
.history-container::before {
  height: 1em;
  width: 100%;
}

.history-container::after {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--root-background-color)
  );
  bottom: 0;
}

.history-container::before {
  background: linear-gradient(
    to top,
    transparent,
    var(--root-background-color)
  );
}

.history {
  flex-direction: column;
}

nav:has(.settings.hidden ~ .mode.hidden) {
  margin-bottom: -3em;
}

.hidden {
  opacity: 0;
}
.settings.hidden {
  margin-left: -50%;
  width: 0;
  padding-right: 1em;
}

@media (max-width: 120vh) {
  /* portrait */

  .history {
    max-height: 25em;
  }

  #root {
    flex-direction: column;
  }

  .history-container.hidden {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0;
  }

  .menu {
    margin-bottom: 1em;
  }

  .text-container {
    max-width: calc(100vw - 2em);
    flex-grow: 1;
  }

  .text {
    max-height: 24em;
    flex-grow: 1;
  }

  .menu.hidden ~ .text-container .text {
    max-height: 38em;
  }

  .menu.hidden {
    margin-top: -14em;
    margin-bottom: 1em;
  }
}

#root:has(.history-container.hidden) .text-container .text,
#root:has(.history-container.hidden) .text-container {
  align-items: center;
}

@media (min-width: 120vh) {
  /* landscape */

  .history-container {
    max-width: calc(100vw - 30em);
    padding-left: 2em;
  }

  .history {
    max-height: 100%;
  }

  .history-container.hidden {
    max-width: 0;
    overflow: hidden;
    padding: 0;
  }

  .menu {
    margin-right: 1em;
  }

  .text-container {
    max-width: calc(100vw - 2em);
    flex-grow: 1;
    align-items: center;
  }

  .text {
    max-height: calc(100vh - 5em);
    flex-grow: 1;
  }

  .text,
  .text-container {
    max-width: calc(100vw - 15em);
  }

  .menu.hidden ~ .text-container .text,
  .menu.hidden ~ .text-container {
    max-width: calc(100vw - 2em);
  }

  .menu.hidden {
    margin-left: -16em;
  }
}

.word-count {
  color: #808080;
}

.word-count.overflow {
  color: #9d3939;
}

.loader.hidden {
  visibility: hidden;
  width: 0;
}

.input,
.display {
  min-height: 3.5em;
  word-break: break-all;
  border-radius: 1em;
  padding: 1em;
  position: relative;
  max-height: 100%;
  align-content: center;
  overflow-y: auto;
}

.main,
.text-container {
  bottom: 0;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.text::after,
.text::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1em;
  width: 100%;
  z-index: 3;
}

.text-container {
  display: flex;
}

.text::after {
  bottom: calc(2em - 3px);
  background: linear-gradient(to bottom, var(--background-gradient-values));
}

.text::before {
  top: calc(2em - 3px);
  background: linear-gradient(to top, var(--background-gradient-values));
}

.text,
.history-item {
  display: flex;
  padding: 2em 4em;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  transition: 0.5s;
}

.mode {
  height: 2em;
}

.display {
  cursor: default;
}

.input {
  outline: 0 solid transparent;
}

.unit-text {
  text-align: center;
}

.tooltip-container {
  position: relative;
}

.tooltip > * {
  text-wrap: nowrap;
}

.show-tooltip > .unit-text {
  border-radius: 0.25em;
  background-color: #fff3;
}

.display > span {
  white-space: pre-wrap;
}

.unit:hover {
  cursor: pointer;
}

.tooltip.background {
  visibility: hidden;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  opacity: 0;
  border-radius: 1em;
  padding: 1em;
}

.show-tooltip > .tooltip {
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

@media (hover: hover) and (pointer: fine) {
  :not(.unit):hover > .tooltip {
    transition-delay: 1s;
  }

  :hover > .tooltip {
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
  }

  .button:hover {
    scale: 1.1;
  }

  .button:active {
    filter: brightness(110%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff40;
    cursor: grab;
  }

  .unit:hover > .unit-text {
    border-radius: 0.25em;
    background-color: #fff3;
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border-top: 10px solid var(--background-color);
  margin-top: -3px;
  padding-bottom: 10px;
  filter: drop-shadow(#00000566 0 4px 5px);
  z-index: 1;
}

.tooltip img {
  border-radius: 1em;
  width: 6em;
}

.background {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--indent);
}

.button {
  width: 2em;
  height: 2em;
  cursor: pointer;
  opacity: 70%;
}

.button:active,
.unit:active {
  filter: brightness(120%);
}

.button,
.button:hover,
.button:active {
  transition: 0.3s;
}

.blur :not(.loader) {
  filter: blur(0.1em);
}

.loader {
  position: absolute;
  width: 3em;
  aspect-ratio: 1;
  margin-bottom: 50%;
  left: calc(50% - 1.5em);
  top: calc(50% - 1.5em);
  animation: loader-animation 2s infinite ease-in-out;
  z-index: 1;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.input:empty::after {
  content: " Type japanese text here";
  color: #ffffff54;
  cursor: text;
}

.input:empty:focus::before {
  content: "|";
  animation: caret-blink 0.9s step-end infinite;
  color: white;
  position: absolute;
  font-size: 1.2em;
  bottom: calc(50% - 0.4em);
}

.input {
  caret-color: white;
}

.input:empty {
  caret-color: transparent;
}

@keyframes caret-blink {
  50% {
    opacity: 0;
  }
}

.input {
  height: 100%;
  width: 100%;
}

.menu,
.input:empty::after {
  text-transform: uppercase;
  font-weight: 600;
}

.hiragana {
  color: #ff9696;
}

.katakana {
  color: #9696ff;
}

.kanji {
  color: #96ff96;
}

.interjection {
  color: #e175ff;
}

.conjunction {
  color: #afaf71;
}

.preposition {
  color: #3bffb4;
}

.particle {
  color: #6e742e;
}

.auxiliary.verb {
  color: #467246;
}

.verb {
  color: #6ab0c9;
}

.adverb {
  color: #9582c4;
}

.adjective {
  color: #cc8299;
}

.noun {
  color: #fcac5d;
}

.pronoun {
  color: #fff23d;
}

.history {
  display: flex;
  overflow: scroll;
  gap: 1em;
}

.history-item {
  display: flex;
  flex-direction: column;
}

.history-container {
  position: relative;
}

.history-item .button {
  width: 1em;
  height: 1em;
}

.history-item-bottom {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  text-wrap: nowrap;
  margin-top: 1em;
}

.history-date {
  color: gray;
}

.history-text,
.history-text * {
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  white-space: pre-wrap;
  height: 4.5em;
}

.history-item * {
  position: relative;
}

.history-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, var(--background-gradient-values));
}

.label {
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.2em 0;
  cursor: pointer;
  transition: 0.3s;
}

.label:hover,
.label:focus-within,
.label:active {
  background: hsla(0, 0%, 80%, 0.14);
}

.radio-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.radio-design {
  width: 1em;
  height: 1em;
  border-radius: 2em;
  background: white;
  position: relative;
}

.radio-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 40%);
  transform: scale(1.1);
}

.radio-input:checked + .radio-design::before {
  transform: scale(0);
}

.label-text {
  color: hsl(0, 0%, 40%);
  margin-left: 1em;
  transition: 0.3s;
}

.radio-input:checked ~ .label-text {
  color: white;
}

.title {
  margin-bottom: 0.8em;
}

* {
  scrollbar-width: none;
}
